@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: #fdf2f8; /* pink-50 */
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #ec4899; /* pink-500 */
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #db2777; /* pink-600 */
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #fbcfe8;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #ec4899;
  box-shadow: 0 0 0 2px #f9a8d4;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  color: #374151;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: 2px dashed #fbcfe8;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.upload-box:hover {
  background: #fdf2f8;
  border-color: #ec4899;
}

.submit-btn {
  width: 100%;
  background: #ec4899;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #db2777;
}

.remove-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}